<p></p>
<div class="card">
  <div class="card-header bg-light">Editar Producto</div>
  <div class="card-body">
    <form>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label>Codigo</label>
          <input type="text" class="form-control" [(ngModel)]="producto.codigo" name="codigo"  placeholder="Ingrese un Codigo">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="inputEmail4">Nombre</label>
          <input type="text" class="form-control" [(ngModel)]="producto.nombre" name="nombre"  placeholder="Ingrese un Nombre">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="inputEmail4">Precio Venta</label>
          <input type="number" class="form-control" [(ngModel)]="producto.precioVenta" name="precioVenta"  placeholder="Ingrese un Precio">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="inputEmail4">Existencia</label>
          <select  class="form-control" [(ngModel)]="producto.existencia" name="existencia">
            <select>Existencia</select>
            <option value="S">S</option>
            <option value="N">N</option>
          </select>
        </div>
      </div>
      <button type="button" (click)="updateProducto()" class="btn btn-primary">Guardar</button>
    </form>
  </div>
</div>
