<p>
<div class ="auth-inner">

  <div class="card">
    <div class="card-header bg-light">Agregar Producto</div>
    <div class="card-body">
      <div *ngIf="mensaje != ''">
        <h6 style="color:red;text-indent :5em;">{{mensaje}}</h6>
      </div>
      <form>
        <div class="form-row">
          <div class="form-group col-md-8">
            <label>Codigo</label>
            <input type="text" class="form-control" [(ngModel)]="producto.codigo" name="codigo"  placeholder="Ingrese un Codigo">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="inputEmail4">Nombre</label>
            <input type="text" class="form-control" [(ngModel)]="producto.nombre" name="nombre"  placeholder="Ingrese un Nombre">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="inputEmail4">Precio Venta</label>
            <input type="number" class="form-control" [(ngModel)]="producto.precioVenta" name="precioVenta"  placeholder="Ingrese un Precio">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="inputEmail4">Existencia</label>
            <select  class="form-control" [(ngModel)]="producto.existencia" name="existencia">
              <select>Existencia</select>
              <option class="dropdown-item" disabled selected value="undefined">Seleccione</option>
              <option value="S">S</option>
              <option value="N">N</option>
            </select>
          </div>
        </div>
        <b style="margin:45px;"></b><button type="button" (click)="saveProducto()" class="btn btn-primary">Guardar</button>
        <b style="margin:5px;"></b><button type="button" (click)="cancelar()" class="btn btn-danger">Cancelar</button>
      </form>
  
    </div>
  </div>
  
</div>

