<p>
<div class="card">
  <div class="card-header bg-light">Inicio de Registro Venta</div>
  <div class="card-body">

    <form>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label>Numero Factura</label>
          <input type="number" class="form-control" [(ngModel)]="venta.factura" name="factura"  placeholder="Ingrese un Numero Factura">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="inputEmail4">Cliente</label>
          <select  class="form-control" [(ngModel)]="venta.cliente" name="existencia">
            <select>Cliente</select>
            <option class="dropdown-item" disabled selected value="undefined">Seleccione</option>
            <option [ngValue]="item" *ngFor="let item of clientes">{{item.nombreApellido}}</option>
          </select>
        </div>
      </div>
      <button type="button" (click)="confirmar()" class="btn btn-primary" style="margin:5px;">Confirmar</button>
      <button type="button" (click)="cancelar()" class="btn btn-danger" style="margin:5px;">Cancelar</button>
    </form>

  </div>
</div>

