<p>
<p>
  <div class="auth-inner">
    <div *ngIf="mensaje != ''">
      <div class="alert alert-danger alert-dismissible fade show align-items-center text-center" role="alert">
        <strong>{{mensaje}}</strong>
        <strong><a href = "/registroVentas" class = "close" data-dismiss = "alert">
          &times;
        </a></strong>
      </div>
    </div>
    <div class= "">
      <div class="card ">
          <div class="card-header bg-light text-center ">Inicio de Registro Venta</div>
        <div class="card-body">
          <form>
            <div class="form-row">
              <div class="form-group col-md-10">
                <label>Numero Factura</label>
                <input type="number" class="form-control" [(ngModel)]="venta.factura" name="factura"  placeholder="Ingrese un Numero Factura">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-8">
                <label for="inputEmail4">Cliente</label>
                <select  class="form-control" [(ngModel)]="venta.cliente" name="existencia">
                  <select>Cliente</select>
                  <option class="dropdown-item" disabled selected value="undefined">Seleccione</option>
                  <option [ngValue]="item" *ngFor="let item of clientes">{{item.nombreApellido}}</option>
                </select>
              </div>
            </div>
            <b style="margin:25px;"></b> <button type="button" (click)="confirmar()" class="btn btn-primary" style="margin:5px;">Confirmar</button>
            <button type="button" (click)="cancelar()" class="btn btn-danger" style="margin:5px;">Cancelar</button>
          </form>

        </div>

      </div>

    </div>









  </div>

