<p>
<div class="card">
  <div class="card-header bg-light text-dark">Lista de Productos</div>
  <div class="card-body">
    <form>
      <div class="form-row">
        <div class="form-group col-md-3" style="text-indent :5em;">
          <label for="inputEmail4">Producto: </label>
          <select [(ngModel)]="productoSelec" name="producto">
            <select>Producto</select>
            <option class="dropdown-item" selected disabled selected value="undefined">Seleccione</option>
            <option [ngValue]="item" *ngFor="let item of productos">{{item.nombre}}</option>
          </select>
        </div>
        <div class="form-group col-md-3" style="text-indent :1em;">
          <label for="inputEmail4">Fecha Desde: </label>
          <input  [(ngModel)]="fechadesde" type="date" name="fechadesde" placeholder="Ingrese una Fecha">
        </div>
        <div class="form-group col-md-3">
          <label for="inputEmail4">Fecha Hasta: </label>
          <input [(ngModel)]="fechahasta" type="date" name="fechahasta" placeholder="Ingrese una Fecha">
        </div>
        <div class="form-group col-md-2">
          <button type="button" (click)="buscar()" class="btn btn-primary">Buscar</button>
          <b style="margin:5px;"></b>
          <button type="button" (click)="limpiar()" class="btn btn-secondary">Limpiar</button>
        </div>
      </div>
    </form>

    <div *ngIf="detallesAux.length==0; else existenDatos" class="text-center">
      <div *ngIf="clickBuscar == true; else noClickBuscar">
        <h3>No existen resultados para la busqueda.</h3>
      </div>
      <ng-template #noClickBuscar>
        <h3>Aun no existen ventas</h3>
        <button class="btn btn-sm btn-dark mr-2" [routerLink]="['/registroVentas']">Ir a Registro Ventas</button>
      </ng-template>
    </div>
    <ng-template #existenDatos>
      <table class="table table-bordered table-sm">
        <thead class="thead-dark">
        <tr>
          <th>idVenta</th>
          <th>Fecha</th>
          <th>Cliente</th>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Total Detalle</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let detalle of detallesAux;let i= index">
          <td>{{detalle.ventaId}}</td>
          <td>{{detalle.fecha}}</td>
          <td>{{detalle.cliente.nombreApellido}}</td>
          <td>{{detalle.producto.nombre}}</td>
          <td>{{detalle.cantidad}}</td>
          <td>{{detalle.totalDetalle}}</td>
        </tr>
        </tbody>
      </table>
    </ng-template>
  </div>
</div>
