<p></p>
<div class="auth-inner">
  <div class="card">
    <div class="card-header bg-light text-center" >Editar Cliente</div>
    <div class="card-body">
      <div *ngIf="mensaje != ''">
        <h6 style="color:red;text-indent :5em;">{{mensaje}}</h6>
      </div>
      <form>
        <div class="form-row">
          <div class="form-group col-md-8">
            <label>Ruc</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.ruc" name="ruc"  placeholder="Ingrese un Ruc">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="inputEmail4">Nombre y Apellido</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.nombreApellido" name="nombreApellido"  placeholder="Ingrese Nombre y Apellido">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" [(ngModel)]="cliente.email" name="email"  placeholder="Ingrese un Email">
          </div>
        </div>
        <b style="margin:40px;"></b><button type="button" (click)="updateCliente()" class="btn btn-primary">Guardar</button>
        <b style="margin:5px;"></b><button type="button" (click)="cancelar()" class="btn btn-danger">Cancelar</button>
      </form>
    </div>
  </div>
</div>